.wrapper{
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.basketWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.totalSumBasket {
  padding-top: 2vh;
}

.productsWrapper, 
.coursesWrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  padding-top: 3vh;
}

.userInfoWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userFirstInputsWrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.3rem;
}
.userSecondInputsWrapper{
  display: flex;
  width: 90%;
  gap: 0.3rem;
}

.paymentWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payFirstInputsWrapper{
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 0.3rem;
}
.paySecondInputsWrapper{
  display: flex;
  width: 90%;
  gap: 0.3rem;
}

label{
  display: none;
}
input{
  width:100%;
 
}
.inputSmall{
  width: 35%;
}
.inputMedium{
  width: 65%;
}
.inputLarge{
  width: 100%;
}

.btnWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.checkoutBtn{
  padding:10px;
}

@media screen and (min-width:800px){
  .basketWrapper{
    width: 60%;
  }
  .userInfoWrapper,
  .paymentWrapper{
    max-width: 1000px;
  }
  .userFirstInputsWrapper,
  .userSecondInputsWrapper,
  .payFirstInputsWrapper,
  .paySecondInputsWrapper{
    width: 50%;
  }
  .paySecondInputsWrapper{
    justify-content: center;
  }
  label {
    display: block;
  }
  .btnWrapper{
    flex-direction: row;
  }
}