.siteWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.wrapperAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 11vh;
  padding-bottom: 7rem;
}
.basketWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.productsWrapper, 
.coursesWrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

h2 {
  padding-bottom: 1rem;
}

.userInfoWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.totalAmountWrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.userFirstInputsWrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.3rem;
}

.userSecondInputsWrapper{
  display: flex;
  width: 80%;
  gap: 0.3rem;
}

.paymentWrapper{
  width: 80%;
}

.paymentWrapper h2 {
  display: flex;
  justify-content: center;
}

.paymentSection {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

.paymentOptions {
  display: flex;
  flex-direction: column;
}

.paymentOptions label {
  line-height: 32px;
  margin-left: 1rem;
}

.paymentOptions input {
  appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  transition: 0.2s all linear;
  position: relative;
  top: 7px;
  cursor: pointer;
}

.paymentOptions input:checked {
  border: 6px solid black;
}

.choosePayment {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.paymentImgWrapper {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.klarnaImg {
 width: 95px;
 height: auto;
}

.swishImg {
  width: 99px;
  height: auto;
}

label{
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.8rem;
}

input{
  width:100%;
}

.userInfoWrapper input {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.userInfoWrapper input:focus {
  outline: none;
}

.userInfoWrapper input::placeholder {
  color: #a19b9b;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.inputSmall{
  width: 35%;
  margin-right: 1rem;
}
.inputMedium{
  width: 65%;
}
.inputLarge{
  width: 100%;
}

.btnWrapper{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.checkoutBtn{
  font-family: "Montserrat", sans-serif;
  background-color: #414b42;
  color: white;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  width: 10.25rem;
  height: 3rem;
}

.checkoutBtn:hover {
  background-color: white;
  color: #414B42;
  border: 0.5px solid#414B42;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (min-width:800px){
  .siteWrapper {
    background-color: rgba(218, 225, 217, 0.8);
  }

  .wrapperAll {
    background-color: white;
    max-width: 800px;
  }

  .basketWrapper{
    width: 80%;
    margin-top: 3rem;
  }

  .userInfoWrapper {
    max-width: 1000px;
  }

  .userFirstInputsWrapper,
  .userSecondInputsWrapper,
  .paymentWrapper {
    width: 60%;
  }

  .btnWrapper{
    flex-direction: row;
  }
}