.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.heroWrapper{
  height: 100vh;
  width: 100%;
  background-color: lightgrey; /*tillfällig*/
}


.infoWrapper{
  width: 90%;
  display: flex;
  gap:2rem;
  margin-top: 80px;
}
.textWrapper{
  width: 50%;
  border:1px solid lightgrey; /*tillfällig*/
}
.imgWrapper{
   width: 50%;
}
.infoImage{
  width: 100%;;
  height: 200px; /*tillfällig*/
  background-color: lightgrey; /*tillfällig*/
}


.linkWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 80px;
}
.linkImage{
  background-color: lightgrey; /*tillfällig*/
  height: 300px;/*tillfällig*/
  width: 90%;
}


@media screen and (min-width:800px){
  .infoWrapper{
    max-width: 800px;
    flex-direction:row-reverse
  }
  .linkWrapper{
    max-width: 1000px;
    flex-direction: row;
  }
}