.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*detta är startbilden*/
.heroWrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey; /*tillfällig*/
}

.heroTextContainer{
  border: 2px red solid;
  font-size: 20px;
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.infoWrapper{
  flex-direction: column-reverse;
  width: 90%;
  display: flex;
  gap:2rem;
  margin-top: 80px;
}
.textWrapper{
  width: 100%;
  font-size: 24px;
}
.imgWrapper{
   width: 100%;
}
.infoImage{
  width: 100%;;
  height: 400px; /*tillfällig*/
  background-color: lightgrey; /*tillfällig*/
}


.linkWrapper{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
.linkImage{
  background-color: lightgrey; /*tillfällig*/
  height: 300px;/*tillfällig*/
  width: 100%;
}


@media screen and (min-width:800px){
  .infoWrapper{
    max-width: 800px;
    flex-direction:row-reverse;
  }
  .linkWrapper{
    max-width: 1000px;
    flex-direction: row-reverse;
  }
}