.wrapperResetPassword {
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

.wrapperInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width:80%;
}

.resetPasswordTitle {
    color: #414B42;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3px;;
}

.wrapperInput input {
    border: 1px solid black;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.wrapperInput input::placeholder{
    color: #A19B9B;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }

.resetPasswordButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 3rem;
    width: 11.25rem;
    height: 3rem;
    cursor: pointer;
    background-color: #414B42;
    color: white;
}

@media screen and (min-width: 800px) {
    .resetPasswordButton:hover {
        background-color: white;
        color: #414B42;
        border: 0.5px solid#414B42;
        transition: 0.3s;
    }

    .wrapperInput {
        max-width: 350px;
    }
}