.wrapper{
  display: flex;
  width: 100%;
  gap: 2rem;
}

.imgWrapper{
  width: 75px;
  height: 75px;
}

.basketImage{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.textWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-grow:1;
  padding-bottom: 25px;
}

.heading{
  font-size: 18px;
  margin-top: px;
}

.changeAmountWrapper{
  display: flex;
  width: 95px;
  gap: 9px;
  background-color: #414B42;
  border-radius: 20px;
  color: white;
  justify-content: center;
  padding: 6px;
}

.changeAmount{
  width: 30%;
  display: flex;
  justify-content: center;
}

.input{
  text-align: center;
  width: 20%;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.priceDeleteWrapper{
  display: flex;
  flex-direction: column;
}
.price{
  font-size: 18px;
}

.deleteBtn {
  font-size: 24px;
  margin-top: 22px;
  margin-left: 7px;
}

@media screen and (min-width:800px){

}