.wrapper{
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}
.heading{
  width: 100%;
  text-align: left;
}
.eventWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textWrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;

}
.button{
  margin: 4rem;
  padding: 2rem;
}

@media screen and (min-width:800px){
.eventWrapper{
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.textWrapper{
  width: 60%;
}

}
