.wrapper {
  width: 100%;
  background-color: hsla(134, 20%, 75%, 0.301);
  display: flex;
  padding: 6.5rem 0;
}
.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.imgWrapper {
  width: 90%;
}
.eventImage {
  background: url("../../public/images/event.jpg");
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.textWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heading{
  font-size: 1.5rem;
  font-weight: 500;
}
.info{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; ;
}
.button {
  width: 14.188rem;
  height: 3.403rem;
  border-radius: 3.125rem;
  margin-top: 2px;
  margin: auto;
  background-color: #414b42;
  color: #fff;
  margin-top: 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
}

.button:hover {
  cursor: pointer;
  color:#414B42;
  background: #FFFFFF;
  border: 1px solid #414B42;
  transition: 0.1s;


}

@media screen and (min-width: 800px) {
  .wrapper {
    justify-content: center;
  }
  .contentWrapper {
    max-width: 954px;
    flex-direction: row;
    align-items: flex-start;
  }
  .heading{
    font-size: 2rem;
  }
  .info{
    font-size: 1.1rem;
  }
  .button{
    font-size: 1.4rem;
  }
}
