@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.wrapper{
  width:100%;
  position: relative;
  position: fixed;
  background-color: white;
  padding: 0rem 1.5rem;
}

.desktopWrapper {
  display: none;
}

.mobileIcons {
  display: flex;
  gap: 1.5rem;
  padding-right: 10px;
}

.mobileIcons a {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.mobileIcons::before {
  content: attr(data-count);
  position: absolute;
  top: 1em;
  right: 1.8em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #414B42;
  border-radius: 50%;
  background-color: #414B42;
  color: white; 
}

.mobileWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 10vh;
  padding: 0.8rem;
  background-color: white;
}


/* Mobilmenyn*/
.mobileMenuWrapperHidden {
  display: none;
}

.BurgerBtn {
  z-index: 100;
}

.mobileMenuWrapperShow {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0;
  width: 85%;
  height: 100%;
  background-color: #697569;
  z-index: 99;
}

.MobileMenuLinkWrapper {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  width: 90%;
  padding-left: 70px;
  padding-top: 120px;
}

.mobileMenuWrapperShow a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 10px;
}


/* Varukorgen */
.basketWrapperHidden {
  display: none;
}

.basketWrapperShow {
  display: flex;
}


/* Desktop*/
@media screen and (min-width: 800px) {
  .desktopWrapper {
    position: fixed;
    display: flex;
    width: 100%;
    left: 0;
    min-height: 10vh;
    justify-content: space-between;
    background-color: white;
    padding: 0.7rem 3rem;
    align-items: center;
    z-index: 99;
  }

  .mobileWrapper {
    display: none;
  }

  a {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    background-image: linear-gradient(
      to right,
      #697569,
      #697569 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background: #697569;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before {
    width:100%;
  }

  .shoppingCart {
    color: black;
    font-size: 26px;
  }

  .shoppingCart:hover {
    color: #697569;
    transition: all 0.3s ease-in-out;
  }

  .logoImage{
    width: 50px;
    height: 50px;
  }

  .linkWrapper::before {
    content: attr(data-count);
    position: absolute;
    top: 1.2em;
    right: 2.7em;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #697569;
    color: white; 
  }

  .linkWrapperFalse:hover {
    color: #697569;
  }

  .linkWrapperFalse a {
    color: #000;
    padding: 1rem;
    text-decoration: none;
  }
}
