* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}
/*lägg in generell font mm*/
a {
  font-size: 16 px;
}

@media screen and (min-width:800px) {
  a {
    font-size: 18px;
  }
}